@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+NO: wght@100..400&family=Playwrite+NZ:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


#oq li {
    font-family: 'Playwrite DE Grund';

    max-width: 50%;
}

#oq p {
    font-family: 'Playwrite DE Grund';

    max-width: 400px;
}
#oq h1 {
    font-family: 'Dancing Script';
    max-width: 100%;
}

#oq .titulo {
    display: flex;
    justify-content:space-around;
    align-items: center;
    
    font-size: 30px;

    margin: 50px 0px 0px 0px;
} 

.linha1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;

    background-color: #340760;
    border-radius: 360px;
    width: 100%;

    margin: 50px 0px 20px 0px;
    padding: 45px 0px 45px 0px;
}

.suiux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 50px 0px 50px 0px;
}

.linha2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.suiux .linha2 .lista1 {
    max-width: 300px;
}

.suiux .linha2 img{
    width: 200px;
    height: auto;
}

.linha3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: black;
}

.suiux .linha3 h1 {
    max-width: 100%;
}

.suiux .linha3 .lista2{
    max-width: 300px;
}

.linha3 img {
    width: 175px;
    height: auto;
}

.linha4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #340760;
    border-radius: 360px;
    width: 100%;

    color: white;

    margin: 20px 0px 20px 0px;
    padding: 20px 0px 20px 0px;
}